.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:5%;
    padding: 3%;
}

.image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.details{
    text-align: left;
}