.landing{
        /* height: 25rem; */
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
    padding:3rem;
        
}
.title{
    flex: 1 1 30%;
    
    /* padding: 0 7rem; */
}
.stacks{  
     flex: 1 1 40%;  
     display:flex;
     flex-wrap: wrap;
     gap:3rem;
     
}
.stack{
    flex: 1 0 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width:5rem;
    border: 1px solid rgba(128, 128, 128, 0.593);
    border-radius: .2rem ;
}

