<div class=" landing">
  <div class="el title">
    <div class="hello">Hello</div>
    <div class="name">I'm Sreyas.</div>
    <div class="dev">Fullstack Developer. </div>
  </div>
  <div class="el img">
    <img src="assets/PngItem_2247819.png" alt="">
  </div>
</div>

<!-- <div class="stacks">
  <div class="stack mongo">
    <img src="../../assets/NicePng_database-icon-png_8686277.png" width="60px" alt="" />
    <p></p>
  </div>
  <div class="stack express">
    <img src="../../assets/expressjs_logo.png" width="110px" alt="" />
    <p></p>
  </div>
  <div class="stack angular">
    <img src="../../assets/angular.png" width="90px" alt="" />
    <p></p>
  </div>
  <div class="stack node">
    <img src="../../assets/1280px-Node.js_logo.svg.png" width="90px" alt="" />
    <p></p>
  </div>
</div> -->