.card1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:5%;
    padding: 5%;
}

img{
    height: 330px;
    width: 330px;
    border-radius: 50%;
    
}
.details{
    text-align: left;
}

