.proj{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.el{
    flex:1 1 900px ;
    text-align: center;
}
.card1{
    padding: 5%;
}
a{
    text-decoration: none;
    color: black;
}
img{
    padding: 4rem 0;
}