
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.title{
   flex:1;
   padding-left: 1rem;
   color: rgb(80, 80, 251);
   font-weight: bold;
   
   
}

.navLinks{
    height: 2rem;
    padding:0 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:2rem;
}
a{
    text-decoration: none;
}
.active{
    font-weight: bold;
}