<!-- <h1 data-aos="flip-left">fgsfghdsdgfdghhh</h1>
<p data-aos="zoom-in-down">services works!</p> -->

<div class="wrap">
    <div class="card1" data-aos="zoom-out"
    data-aos-easing="linear"
    data-aos-duration="2500"><div class="img"><img src="assets/f2.jpg" alt=""> </div> <p> Frontend Development</p></div>
    <div class="card1" data-aos="zoom-out"
    data-aos-easing="linear"
    data-aos-duration="2500"><div class="img"><img src="assets/b2.jpg" alt=""></div> <p> Backend Development</p></div>
    
</div>
