<div id="carouselExampleControls" class="carousel slide picture" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-block w-10">
          <img src="assets/p4.jpg"  class="" alt="person1">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, voluptatem? Possimus nobis ipsum, nesciunt esse porro aspernatur sunt quos alias id iure sint autem ab recusandae veritatis fugiat illum saepe.</p>
          <p class="name">Person 1</p> 
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-block w-10">
          <img src="assets/p3.jpg"  class="" alt="person2">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, voluptatem? Possimus nobis ipsum, nesciunt esse porro aspernatur sunt quos alias id iure sint autem ab recusandae veritatis fugiat illum saepe.</p>
          <p class="name">Person 2</p> 
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <div class="icon">
        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      </div>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <div class="icon">
        <span class="carousel-control-next-icon  " aria-hidden="true"></span>
      </div>
      <span class="visually-hidden">Next</span>
    </button>
</div>