
 .wrap{
    display:grid;
    grid-template-columns: 1fr 1fr;
}


@media screen and (max-width: 600px){
    .wrap{
        display:grid;
        grid-template-columns: 1fr;
        
    }
    
}